@import url('https://fonts.googleapis.com/css?family=Lato');


body {
	background-color: #ffffff;
	flex-direction: column;
	min-height: 100vh;
	font-family: 'Lato', sans-serif;
	margin:0; 
	padding:0;
	display: flex;
	text-align: center;
}

h2 {
  text-align: center;
  color: #000000;
  position: relative;
  font-size: 50px;
}

.range-container1 {
	height: 300px;
	top: 80px;
}

.range-container2 {
	height: 300px;
	top: 80px;
}

#code {
  position: relative;
}

#number {
	position: relative;
}

#codelabel {
	position: relative;
	background-color: #fff;
	border-radius: 40px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	padding: 15px ;
	font-size: 30px;
	top: -80px;
	left: -180px;
}

#numberlabel {
	position: relative;
	background-color: #fff;
	border-radius: 40px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	padding: 15px ; 
	font-size: 30px;
	left: -380px;
}

#range1 {
  -webkit-appearance: none;
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
	border-radius: 40px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	padding: 15px 0;
	position: relative;
	width: 350px;
	left: 40px;
}

#range1:active {
	outline: none;
}

#range1::-webkit-slider-runnable-track {
	animate: 0.2s;
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
	border-radius: 4px;
	cursor: pointer;
	width: 100%;
	height: 10px;
}

#range1::-webkit-slider-thumb {
	background: linear-gradient(to right, #006699 0%, #ffff00 100%);
	border-radius: 50%;
  cursor: pointer;
	height: 50px;
	width: 50px;
	margin-top: -20px;
	-webkit-appearance: none;
}

#range1:active::-webkit-slider-runnable-track {
	opacity: 0.8;
}







#range2 {
  -webkit-appearance: none;
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
	border-radius: 40px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	padding: 15px 0;
	position: relative;
	width: 750px;
	top: 100px;
	left: 100px;
}

#range2:active {
	outline: none;
}

#range2::-webkit-slider-runnable-track {
	animate: 0.2s;
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
	border-radius: 4px;
	cursor: pointer;
	width: 100%;
	height: 10px;
}

#range2::-webkit-slider-thumb {
	background: linear-gradient(to right, #006699 0%, #ffff00 100%);
	border-radius: 50%;
  cursor: pointer;
	height: 50px;
	width: 50px;
	margin-top: -20px;
	-webkit-appearance: none;
}

#range2put:active::-webkit-slider-runnable-track {
	opacity: 0.8;
}







footer {
    background-color: #222;
    color: #fff;
    font-size: 20px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}

footer p {
    margin: 10px 0;
}

footer i {
    color: red;
}

footer a {
    color: #3c97bf;
    text-decoration: none;
}